.dropdown-menu {
    background-color: #2e3340;
    margin: 0px -3px;
    padding: 0px;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.4);
}

h1{
    padding: 2.5rem;
    text-align: center;
}

#content{
    text-align: center;
    margin: 2rem;
}
