@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.text{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
    font-size: xx-large;
}

.h2_blue{
    color: #005FF9;
}
.h2_white{
    color: white;
}

#c_white{
    background-color: white;
}

#text_black{
    color: black;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#text_white{
    color: white;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#c_blue{
    background-color: #005FF9;
    color: white;   
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik',sans-serif,Arial;
    font-weight: 700;
}

p, label, input,small{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}
.media_social{
    margin: 1rem;
}

.cor{
    color: #005FF9 !important;
}

#subNav{
    z-index: 99;
    width: 100%;
    font-family: 'Rubik', sans-serif, Arial;
    font-weight: 700;

}
#nameproj{
    color: #005FF9 !important;
}

#subNav #navbarResponsive .nav-item a{
    /* border: solid white; */
    /* background-color: white;   */
    color: #005FF9; 
    font-size: large;
}
#subNav #navbarResponsive .nav-item #menuD:after{
    content: '';
    display: block;
    width: 0;
    background: black;
    transition: width .3s;
}

 
#subNav #navbarResponsive .nav-item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #005FF9;
    transition: width .3s;
}

#subNav #navbarResponsive .nav-item a:hover::after {
    width: 100%;
    transition: width .3s;
}

#rodape{
    position: absolute;
    width: 100%;
    /* bottom: 0; */
}

#nameproj {
    font-family: 'Rubik', sans-serif, Arial !important;
    font-weight: 700 !important;
    font-size: x-large;
}


/* #subNav ul li a, #subNav div a{
   color: #005FF9;
   font-size: x-large;
} */

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    footer #nameproj {
        font-size: large;
    }
    #subNav svg{
        width: 3vh;
        height: 3vh;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    footer #nameproj {
        font-size: x-large;
    } 
    #subNav svg{
        width: 3vh;
        height: 3vh;
    }
    footer div .media_social svg{
        width: 3vh;
        height: 5vh;
    }
    footer #nameproj {
        font-size: 3vh !important;
    }
    footer a svg{
        width: 4vh;
        height: 5vh;
    }
}

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px){
    footer div .media_social svg{
        width: 3vh;
        height: 5vh;
    }
    footer a svg{
        width: 4vh;
        height: 5vh;
    }
    footer #nameproj {
        font-size: 3vh !important;
    }
    .navbar div #nameproj {
        font-size: 3vh !important;
    }
    #subNav svg{
        width: 3vh;
        height: 3vh;
    }
}

@media (min-width: 2560px) {
    #mainNav ul li a,
    #mainNav div a {
        font-size: 3vh !important;
    }
    
    .subNav div #nameproj svg {
        width: 4vh;
        height: 5vh;
    }

    #subNav ul li a,
    #subNav div a {
        font-size: 3vh !important;
    }
    
    #subNav svg{
        width: 3vh;
        height: 4vh;
    }

    footer div .media_social svg{
        width: 3vh;
        height: 5vh;
    }
    footer a svg{
        width: 4vh;
        height: 5vh;
    }
    footer #nameproj {
        font-size: 3vh !important;
    }
    
}
