.dropdown-menu {
    margin: 0px -3px;
    padding: 0px;
}

.dropdown-menu{
    color: black;
    filter: drop-shadow(4px 4px 4px black);
}
.dropdown-item:hover {
    background-color: unset !important;
}

p{
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem !important;
    text-align: center;
}

#trp{
    margin-left: 8vh;
    margin-top: 1vh;
    color: #ffd900;
}
#text_white {
    width: 25rem !important;
    height: 10rem !important;
    background-color: white;
    border-radius: 10px;
    color: black;
}

span{
    font-size: 1.5rem;
}
#diva{
    border-width: 0.7vh !important; 
}

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
     #rodape div{
        padding-top: 0vh !important;
    }
    #rodape .col {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 8vh;
    }
    #sai{
        display: none;
    }
    p{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    
    h1 {
        font-size: 2rem !important;
    }
    #rodape {
        bottom: unset;
        height: max-content !important;
        margin: unset;
    }
    .text_col{
        padding-top: 2rem !important;
    }
    #text_white {
        
        width: 17rem !important;
        height: 8rem !important;
    }
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
        height: 5vh !important;
        width: 5vh !important;
    }
    #diva{
        border-right: unset !important;
    }
}


/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #rodape {
        bottom: unset;
        height: max-content !important;
        margin-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    #rodape div{
        padding-top: 2vh;
    }
    p{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    
    h1 {
        font-size: 2rem !important;
    }

    #rodape .col {
        margin-top: 0 !important;
    }
    
    .indiciplina {
        height: max-content !important;
        padding-top: 5vh;
        padding-bottom: 5vh;
        
    }
    #sai{
        display: none;
    }
    #text_white {
        width: 17rem !important;
        height: 8rem !important;
    }
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
        height: 5vh !important;
        width: 5vh !important;
    }
    .text_col{
        padding-top: 2rem !important;
    }
    #diva{
        border-right: unset !important;
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    .indiciplina {
        height: max-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    #rodape {
        bottom: unset;
    }
    #sai{
        display: none;
    }
    #text_white {
        width: 17rem !important;
        height: 8rem !important;
    }
    #trp{
        margin: auto;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .indiciplina {
        height: max-content;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    h1 {
        font-size: 5vh !important;
    }
    #sair{
        display: none;
    }
    #text_white {
        width: 40vh !important;
        height: 20vh !important;
    }
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
    }
    .text_col{
        border-left: chartreuse 3rem !important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px) {
    .indiciplina {
        height: 80vh;
        padding-top: 8vh;
    }
    #sair{
        display: none;
    }
    p{
        font-size: 2rem;
    }
    #trp{
        height: 6vh !important;
        width: 6vh !important;
    }
    
}

@media (min-width: 2560px) {
    .indiciplina {
        height: max-content;
        padding-top: 10vh;
        padding-bottom: 18vh;
    }

    #sair{
        display: none;
    }
    
    #trp{
        height: 6vh !important;
        width: 6vh !important;
    }
    #text_white {
        width: 50rem !important;
        height: 20rem !important;
    }

    span{
        font-size: 3rem !important;
    }
    p{
        font-size: 3.5rem !important;
        padding-left: 2rem !important;
    }
    h1{
        font-size: 6rem !important;
    }
}