@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.text{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
    font-size: xx-large;
}

.h2_blue{
    color: #005FF9;
}
.h2_white{
    color: white;
}

#c_white{
    background-color: white;
}

#text_black{
    color: black;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#text_white{
    color: white;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#c_blue{
    background-color: #005FF9;
    color: white;
}

#rodape{
    bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik',sans-serif,Arial;
    font-weight: 700;
}

p, label, input,small{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}
.media_social{
    margin: 1rem;
}

.col{
    color: #005FF9;
}
#subNav{
    z-index: 99;
    width: 100%;
    font-family: 'Rubik', sans-serif, Arial;
    font-weight: 700;

}
#nameproj{
    color: #005FF9;
}

#subNav #navbarResponsive .nav-item a{
    /* border: solid white; */
    /* background-color: white;   */
    color: #005FF9; 
    font-size: large;
}

#subNav #navbarResponsive .nav-item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #005FF9;
    transition: width .3s;
}

#subNav #navbarResponsive .nav-item a:hover::after {
    width: 100%;
    transition: width .3s;
}


/* #subNav ul li a, #subNav div a{
   color: #005FF9;
   font-size: x-large;
} */

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
 

}

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}