.dropdown-menu {
    margin: 0px -3px;
    padding: 0px;
}

h1 {
    text-align: center;
}

/* #content {
    text-align: center;
    margin: 2rem;
} */

.dropdown-menu{
    color: black;
    filter: drop-shadow(4px 4px 4px black);
}
.dropdown-item:hover {
    background-color: unset !important;
}

p{
    font-size: 3vh;
}

h1 {
    font-size: 5vh !important;
}

h2 {
    font-size: 3vh !important;
}

#clica{
    width: 5vh;
    height: 5vh;
}
#sai svg{
    height: 5vh;
    width: 4vh;
}
#sair svg{
    height: 5vh;
    width: 4vh;
}

tr,th {
    color: white;
    font-family: Inter,sans-serif,Arial;
}
tbody tr:hover{
    color: #005FF9 !important;
    background-color: white !important;
}

#tipoLixo{
    border-width: 0.7vh !important; 
}

.text_col {
    text-align: center !important;
}

#text_white {
    width: 60vh ;
    height: 20vh ;
    background-color: white;
    border-radius: 4px;
    color: black;
}

/* #card1{
    background-color: #FFFFCC;
    height: vh !important;
    border-radius: 50%;
} */

#trp{
    margin-left: 8vh;
    margin-top: 1vh;
    color: gold;
}
#ran{
    margin-top: 4vh !important;
}
#ran p{
    font-size: 3vh !important;
}
.table-responsive{
    font-size: 3vh !important;
}
thead th{
    border-width: 0.5vh !important; 
}
td,tr,th{
    border-width: 0.3vh !important; 
}
label{
    font-size: 3vh !important;
}



/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #rodape {
        bottom: unset;
        height: 2rem !important;
    }

    .indiciplina {
        height: 80vh;
        padding-top: 10vh;
    }
    #sai{
        display: none;
    }
    #sair svg{
        height: 3vh;
        width: 3vh;
    }
    .navbar button{
        font-size: 3vh;
    }
    #rodape .col {
        margin-top: 0 !important;
    }
    #rodape svg {
        height: 4vh;
        width: 3vh;
    }
    #subNav ul li a,
    #subNav div a {
        font-size: 3vh !important;
    }
}

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #rodape{
        bottom: unset;
    }
    #rodape .col {
        margin-top: 0 !important;
    }
    
    #rodape svg {
        height: 3vh;
        width: 3vh;
    }
    .indiciplina {
        height: 130vh;
        padding-top: 5vh;
        background-color: gold !important; 
    }
    #sai{
        display: none;
    }
    #sair svg{
        height: 5vh;
        width: 3vh;
    }
    .navbar button{
        font-size: 2vh;
    }
    #clica{
        width: 4vh !important;
        height: 4vh !important;
    }
    #text_white {
        width: 100%;
        height: 20vh ;
    }
    #tipoLixo{
        border-right: none !important;
    }
    
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
        height: 5vh !important;
        width: 5vh !important;
    }
    h2 {
        font-size: 5vh !important;
    }
}


/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #rodape {
        bottom: unset;
        height: 2rem !important;
    }

    #rodape .col {
        margin-top: 0 !important;
    }
    #rodape svg {
        height: 5vh;
        width: 5vh;
    }
    .indiciplina {
        height: 150vh;
        padding-top: 5vh;
    }
    #sai{
        display: none;
    }
    #sair svg{
        height: 6vh;
        width: 8vh;
    }
    #clica{
        width: 6vh;
        height: 8vh;
    }
    #text_white {
        width: 100%;
        height: 20vh ;
    }
    #tipoLixo{
        border-right: none !important;
    }
    
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
        height: 5vh !important;
        width: 5vh !important;
    }
    h2 {
        font-size: 5vh !important;
    }
    
}


/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .indiciplina {
        height: 90vh;
        padding-top: 5vh;
        
    }

    #rodape {
        bottom: unset;
    }

    #sai{
        display: none;
    }
    
    #text_white {
        width: 40vh ;
        height: 20vh ;
    }
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
    }

    #subNav svg{
        width: 4vh !important;
        height: 4vh !important;
    }
    #sair svg{
        height: 6vh !important;
        width: 8vh !important;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .indiciplina {
        height: 80vh;
        padding-top: 10vh;
    }

    h1 {
        font-size: 5vh !important;
    }
    #sair{
        display: none;
    }
    #text_white {
        width: 40vh ;
        height: 20vh ;
    }
    #trp{
        margin-left: 4vh;
        margin-top: 1vh;
    }
    

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px) {
    .indiciplina {
        height: 80vh;
        padding-top: 8vh;
    }
    
    #subNav svg{
        height: 4vh !important;
    }
    #sair{
        display: none;
    }
    
    #trp{
        height: 6vh !important;
        width: 6vh !important;
    }

}

@media (min-width: 2560px) {
    .indiciplina {
        height: 85vh;
        padding-top: 10vh;
    }

    #sair{
        display: none;
    }
    #subNav a{
        padding-right: 5rem;
    }

    select{
        height: auto !important;
        font-size: 2vh !important;
    }

    #trp{
        height: 6vh !important;
        width: 6vh !important;
    }
    

}