.dropdown-menu {
    margin: 0px -3px;
    padding: 0px;
}

.dropdown-menu{
    color: black;
    filter: drop-shadow(4px 4px 4px black);
}
.dropdown-item:hover {
    background-color: unset !important;
}

p{
    font-size: 3vh;
}

h1 {
    font-size: 5vh !important;
    text-align: center;
}

h2 {
    font-size: 3vh !important;
}

#clica{
    width: 5vh;
    height: 5vh;
}
#sai svg{
    height: 5vh;
    width: 4vh;
}
#sair svg{
    height: 5vh;
    width: 4vh;
}


.col-form-label{
    font-size: 3vh !important;
    padding-right: 2vh !important;
    margin-left: 2vh; 
}
.nao{
    margin-right: 5vh !important;
    /* min-width: 60vh !important;
    max-width: 70vh !important; */
}

.card-header{
    color: white;
}
.card{
    border: none !important;
    background-color: transparent !important;
    color: #005FF9 !important;
}
.card-header{
    background-color: transparent !important; 
    color: white !important;
    border-color: white !important;
}
.card-body{
    background-color: transparent !important;
    color: white !important;
    
}
.btn-link{
    color: white !important;
}
.btn-link:hover{
    background-color: transparent !important;
    color: white !important;
    font-style: italic !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.btn-link:focus, .btn:active{
    background-color: transparent !important;
    box-shadow: none !important;
}
.bt{
    background-color: white !important;
    color: #005FF9 !important;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.bt:hover{
    /* background-color: #d3d3d3 !important; */
    color: #005FF9 !important;
    font-style: italic;
}
#mailInfo{
    font-size: 2.5vh !important;
}
#emailTo{
    color: white;
}

#emailTo:hover{
    font-style: italic;
}

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #rodape {
        bottom: unset;
        height: max-content;
        margin: unset;
        padding-bottom: 2rem !important;
    }
    #rodape .col {
        margin-top: 0 !important;
    }
    
    #rodape svg {
        height: 3vh;
        width: 3vh;
    }
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #sai{
        display: none;
    }
    #sair svg{
        height: 5vh !important;
        width: 3vh !important;
    }
    .navbar button{
        font-size: 2vh;
    }
    #clica{
        width: 4vh !important;
        height: 4vh !important;
    }
    h2 {
        font-size: 5vh !important;
    }
    
}


/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #rodape {
        bottom: unset;
        height: max-content !important;
        margin-top: 2vh !important;
    }

    #rodape .col {
        margin-top: 0 !important;
    }
    #rodape svg {
        height: 5vh;
        width: 5vh;
    }
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #sai{
        display: none;
    }
    #sair svg{
        height: 6vh;
        width: 8vh;
    }
    #clica{
        width: 6vh;
        height: 8vh;
    }
    h2 {
        font-size: 5vh !important;
    }
    
}


/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #rodape {
        bottom: unset;
        height: max-content;
    }

    #sai{
        display: none;
    }

    #subNav svg{
        width: 5vh !important;
        height: 5vh !important;
    }
    
    #sair svg{
        height: 5vh !important;
        width: 5vh !important;
    }
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    h1 {
        font-size: 5vh !important;
    }
    #sair{
        display: none;
    }
    #rodape{
        height: max-content;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px) {
    .indiciplina {
        height: max-content;
        padding-top: 8vh;
        padding-bottom: 10vh;
    }
    
    #subNav svg{
        height: 4vh !important;
    }
    #sair{
        display: none;
    }
}

@media (min-width: 2560px) {
    .indiciplina {
        height: max-content;
        padding-top: 13vh;
        padding-bottom: 18vh;
    }

    #sair{
        display: none;
    }
    #subNav a{
        padding-right: 5rem;
    }

    select{
        height: auto !important;
        font-size: 2vh !important;
    }
}