@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

.text{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
    font-size: xx-large;
}

.h2_blue{
    color: #005FF9;
}
.h2_white{
    color: white;
}

#c_white{
    background-color: white;
}

#text_black{
    color: black;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#text_white{
    color: white;
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}

#c_blue{
    background-color: #005FF9;
    color: white;   
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik',sans-serif,Arial;
    font-weight: 700;
}

p, label, input,small{
    font-family: Inter,sans-serif,Arial;
    font-weight: 500;
}
.media_social{
    margin: 1rem;
}

.cor{
    color: #005FF9 !important;
}

.dropdown-menu{
    border-radius: 10px !important;
}

#subNav{
    z-index: 99;
    width: 100%;
    font-family: 'Rubik', sans-serif, Arial;
    font-weight: 700;

}
#nameproj{
    color: #005FF9 !important;
}

#subNav #navbarResponsive .nav-item a{
    color: #005FF9; 
    font-size: large;
}
#subNav #navbarResponsive .nav-item #menuD:after{
    content: '';
    display: block;
    width: 0;
    background: black;
    transition: width .3s;
}

 
#subNav #navbarResponsive .nav-item a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #005FF9;
    transition: width .3s;
}

#subNav #navbarResponsive .nav-item a:hover::after {
    width: 100%;
    transition: width .3s;
}

#rodape{
    position: absolute;
    width: 100%;
    /* bottom: 0; */
}

#nameproj {
    font-family: 'Rubik', sans-serif, Arial !important;
    font-weight: 700 !important;
    font-size: x-large;
}

form,input,option,select,label{
    font-family: Inter,sans-serif,Arial;
}
#subNav svg{
    width: 2rem !important;
    height: 2rem !important;
}


/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #nameproj {
        font-size: 3vh;
    }
    .nav-link svg, .dropdown-item svg, #sai svg, #sair svg{
        height: 1.5rem !important;
        width: 2rem !important;
    }
    #subNav svg,footer a svg{
        width: 1.5rem !important;
        height: 2rem !important;
    }
    .navbar button{
        font-size: 1rem;
    }
}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #nameproj {
        font-size: 5vh;
    }
    .nav-link svg, .dropdown-item svg, #sai svg, #sair svg{
        height: 2rem !important;
        width: 2rem !important;
    }
    #subNav svg,footer a svg{
        width: 2rem !important;
        height: 2rem !important;
    }
    .navbar button{
        font-size: 1.5rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    footer #nameproj {
        font-size: large;
    }
    #nameproj {
        font-size: 1.5rem;
    }
    .nav-link svg, .dropdown-item svg, #sai svg, #sair svg{
        height: 2rem !important;
        width: 2rem !important;
    }
    #subNav svg,footer a svg{
        width: 2rem !important;
        height: 2rem !important;
    }
    .navbar button{
        font-size: 1.5rem;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    footer #nameproj {
        font-size: x-large;
    } 
    footer #nameproj {
        font-size: 3vh !important;
    }
    .nav-link svg, .dropdown-item svg, #sai svg, #sair svg{
        height: 2rem !important;
        width: 2rem !important;
    }
    #subNav svg, footer a svg{
        width: 2rem !important;
        height: 2rem !important;
    }
}

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px){
    
    footer #nameproj {
        font-size: 3vh !important;
    }
    .navbar div #nameproj {
        font-size: 3vh !important;
    }
    #subNav #navbarResponsive .nav-item a{ 
        font-size: 3vh;
    }
    .nav-link svg, .dropdown-item svg, #sai svg, #sair svg{
        height: 2.5rem !important;
        width: 3rem !important;
    }
    #subNav svg, footer a svg{
        width: 2.5rem !important;
        height: 3rem !important;
    }
    
}

@media (min-width: 2560px) {
    #mainNav ul li a,
    #mainNav div a {
        font-size: 3vh !important;
    }
    #subNav ul li a,
    #subNav div a {
        font-size: 3vh !important;
    }
   
    footer #nameproj {
        font-size: 3vh !important;
    }
    #subNav a{
        padding-right: 5rem;
    }
    .nav-link svg, .dropdown-item svg, #sai svg{
        height: 5rem !important;
        width: 5rem !important;
    }
    #subNav svg, footer a svg{
        width: 5rem !important;
        height: 5rem !important;
    }
    #subNav a{
        padding-right: 5rem !important;
    }
}
