

.form , h1{
    text-align: center;
}

span{
    padding: auto;
}
input, select{
    box-shadow: 0px 1px 2px rgba(50, 43, 95, 0.08);
border-radius: 4px;
}


.criarAlun{
    text-align: center;
    padding: 20px;
}

/* .modal_ok{
    background-color: #005FF9 !important;
    color: #005FF9;
}

.modal_ok:hover{
    background-color:  white !important;
    border-color: #005FF9 !important;
    color: #005FF9 !important;
} */

svg{
    color: #005FF9;
}

#criar{
    background-color: white !important;
    color: #005FF9;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#criar:hover{
    /* background-color: #d3d3d3 !important; */
    color: #005FF9;
    font-style: italic;
}

.indiciplina{
    height: 83vh;
    background-color: #005FF9; 
}
#rodape{
    bottom: 0;
}

body {
    height: 100%;
    
}

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #rodape{
        bottom: unset;
        height: max-content;
    }
    .indiciplina {
        height: max-content;
    }

}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #rodape{
        bottom: unset;
        height: max-content;
    }
    .indiciplina {
        height: max-content;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #rodape{
        bottom: unset;
        height: max-content;
    }
    .indiciplina {
        height: max-content;
    }
    #sair svg{
        height: 5vh !important;
        width: 5vh !important;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #rodape{
        bottom: 0;
        height: max-content;
    }
    .indiciplina {
        height: 80vh;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px){
    .indiciplina{
        height: 80vh !important;
        /* padding-bottom: 9rem; */
    }
    #rodape{
        bottom: 0;
        height: max-content;
    }
    #c_blue{
        height: max-content;
    }
}

@media (min-width: 2560px) {
    #rodape{
        bottom: 0;
        height: max-content;
    }
    .indiciplina {
        height: max-content;
        padding-bottom: 5vh;
    }

    h1{
        font-size: 5vh !important;
    }
    label{
        font-size: 3vh !important;
    }
    input,select{
        font-size: 2.5vh !important;
    }
    small{
        font-size: 1.5vh !important;
    }
    .btn{
        font-size: 2.5vh !important;
    }
    .criarAlun{
        padding: 5rem;
    }
    
}