.dropdown-menu {
    margin: 0px -3px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.dropdown-menu{
    color: black;
    filter: drop-shadow(4px 4px 4px black);
}
.dropdown-item:hover {
    background-color: unset !important;
}

p{
    font-size: 3vh;
}

h1 {
    font-size: 5vh !important;
}
#clica{
    width: 5vh;
    height: 5vh;
}
#trp{
    margin-left: 8vh;
    margin-top: 1vh;
    color: #ffd900;
}
#text_white {
    width: 25rem !important;
    height: 10rem !important;
    background-color: white;
    border-radius: 10px;
    color: black;
}

span{
    font-size: 3vh;
}

/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
     #rodape div{
        padding-top: 0vh !important;
    }
    #rodape .col {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .indiciplina {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 12vh;
    }
    #sai{
        display: none;
    }
    /* #clica{
        width: 4vh !important;
        height: 4vh !important;
    } */
    #rodape {
        bottom: unset;
        height: max-content !important;
        margin: unset;
    }
}


/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #rodape {
        bottom: unset;
        height: 2vh !important;
        margin: unset;
    }
    #rodape div{
        padding-top: 2vh;
    }
    p{
        padding: 0rem !important;
        padding-top: 0rem;
    }

    #rodape .col {
        margin-top: 0 !important;
    }
    
    .indiciplina {
        height: 70vh !important;
        padding-top: 5vh;
        
    }
    #sai{
        display: none;
    }
    /* #clica{
        width: 6vh;
        height: 8vh;
    } */
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape){
    .indiciplina {
        height: 85vh;
        padding-top: 10vh;
    }

    #rodape {
        bottom: unset;
    }
    #sai{
        display: none;
    }
    
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .indiciplina {
        height: 80vh;
        padding-top: 10vh;
    }

    h1 {
        font-size: 5vh !important;
    }
    #sair{
        display: none;
    }
    

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 2559.98px) {
    .indiciplina {
        height: 80vh;
        padding-top: 8vh;
    }
    
    
    #sair{
        display: none;
    }
    
}

@media (min-width: 2560px) {
    .indiciplina {
        height: 85vh;
        padding-top: 10vh;
    }

    #sair{
        display: none;
    }
    #subNav a{
        padding-right: 5rem;
    }
    
    
}