#barraInput{
    padding-top: 2rem;
}

#login{
    padding-top: 2rem;
}

span{
    padding-top: 1rem;
}


/* //Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .indiciplina{
        height: 83vh;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .indiciplina{
        height: 83vh;
    }
}
